/*Normalize -start */
	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
	input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/*Normalize - end */

@font-face {
	font-family: FuturaMedium;
	src: url(./futura/FuturaStd-Medium.otf);
}

@font-face {
	font-family: FuturaBold;
	src: url(./futura/FuturaStd-Bold.otf);
}

/*Color Scheme - start*/
.bottle-rocket {
	background-color: #354726;
}
.bottle-rocket .site-title,
.bottle-rocket .instructions,
.bottle-rocket .generated-name,
.bottle-rocket .generate {
	color: #F8D246;
}
.bottle-rocket .generate {
	background-color: #C72727;
}
.bottle-rocket .generate:hover {
	color: #C72727;
	background-color: #F8D246;
}

.rushmore {
	background-color: #352948;
}
.rushmore .site-title,
.rushmore .instructions,
.rushmore .generated-name,
.rushmore .generate {
	color: #EC342C;
}
.rushmore .generate {
	background-color: #DFBB77;
}
.rushmore .generate:hover {
	color: #DFBB77;
	background-color: #EC342C;
}

.the-royal-tenembaums {
	background-color: #F4AFAB;
}
.the-royal-tenembaums .site-title,
.the-royal-tenembaums .instructions,
.the-royal-tenembaums .generated-name,
.the-royal-tenembaums .generate {
	color: #FBDBA7;
}
.the-royal-tenembaums .generate {
	background-color: #769F8A;
}
.the-royal-tenembaums .generate:hover {
	color: #769F8A;
	background-color: #FBDBA7;
}

.life-aquatic-with-steve-zissou {
	background-color: #7CB7C3;
}
.life-aquatic-with-steve-zissou .site-title,
.life-aquatic-with-steve-zissou .instructions,
.life-aquatic-with-steve-zissou .generated-name,
.life-aquatic-with-steve-zissou .generate {
	color: #E9C94C;
}
.life-aquatic-with-steve-zissou .generate {
	background-color: #EC2A26;
}
.life-aquatic-with-steve-zissou .generate:hover {
	color: #EC2A26;
	background-color: #E9C94C;
}

.darjeeling-limited {
	background-color: #D39B5B;
}
.darjeeling-limited .site-title,
.darjeeling-limited .instructions,
.darjeeling-limited .generated-name,
.darjeeling-limited .generate {
	color: #EACBB1;
}
.darjeeling-limited .generate {
	background-color: #196E96;
}
.darjeeling-limited .generate:hover {
	color: #196E96;
	background-color: #EACBB1;
}

.hotel-chevalier {
	background-color: #D3DDDC;
}
.hotel-chevalier .site-title,
.hotel-chevalier .instructions,
.hotel-chevalier .generated-name,
.hotel-chevalier .generate {
	color: #466355;
}
.hotel-chevalier .generate {
	background-color: #FBD073;
}
.hotel-chevalier .generate:hover {
	color: #FBD073;
	background-color: #466355;
}

.fantastic-mr-fox {
	background-color: #E18531;
}
.fantastic-mr-fox .site-title,
.fantastic-mr-fox .instructions,
.fantastic-mr-fox .generated-name,
.fantastic-mr-fox .generate {
	color: #E1CF40;
}
.fantastic-mr-fox .generate {
	background-color: #B01E2B;
}
.fantastic-mr-fox .generate:hover {
	color: #B01E2B;
	background-color: #E1CF40;
}

.moonrise-kingdom {
	background-color: #8BD4E1;
}
.moonrise-kingdom .site-title,
.moonrise-kingdom .instructions,
.moonrise-kingdom .generated-name,
.moonrise-kingdom .generate {
	color: #9B9453;
}
.moonrise-kingdom .generate {
	background-color: #F8D586;
}
.moonrise-kingdom .generate:hover {
	color: #F8D586;
	background-color: #9B9453;
}

.castello-cavalcanti {
	background-color: #D6B53A;
}
.castello-cavalcanti .site-title,
.castello-cavalcanti .instructions,
.castello-cavalcanti .generated-name,
.castello-cavalcanti .generate {
	color: #932F20;
}
.castello-cavalcanti .generate {
	background-color: #83A68E;
}
.castello-cavalcanti .generate:hover {
	color: #83A68E;
	background-color: #932F20;
}

.the-grand-budapest-hotel {
	background-color:  #F8666E;
}
.the-grand-budapest-hotel .site-title,
.the-grand-budapest-hotel .instructions,
.the-grand-budapest-hotel .generated-name,
.the-grand-budapest-hotel .generate {
	color: #591B1B;
}
.the-grand-budapest-hotel .generate {
	background-color: #EFB983;
}
.the-grand-budapest-hotel .generate:hover {
	color: #EFB983;
	background-color: #591B1B;
}

.isle-of-dogs {
	background-color:  #050104;
}
.isle-of-dogs .site-title,
.isle-of-dogs .instructions,
.isle-of-dogs .generated-name,
.isle-of-dogs .generate {
	color: #FCCF30;
}
.isle-of-dogs .generate {
	background-color: #E72B31;
}
.isle-of-dogs .generate:hover {
	color: #E72B31;
	background-color: #FCCF30;
}

.the-french-dispatch{
	background-color: #80C6C8;
}
.the-french-dispatch .site-title,
.the-french-dispatch .instructions,
.the-french-dispatch .generated-name,
.the-french-dispatch .generate {
	color: #050706;
}
.the-french-dispatch .generate {
	background-color: #EEC750;
}
.the-french-dispatch .generate:hover {
	color: #EEC750;
	background-color: #050706;
}
/*Color Scheme - end*/

html,
body {
	height: 100%;
}

body {
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1600px;
	padding: 0 15px;
}

.site-title {
	text-align: center;
	text-transform: uppercase;
	line-height: 1.25;
	margin-top: 0;
	font-family: FuturaBold, sans-serif;
}

.instructions {
	text-align: center;
	text-transform: uppercase;
	max-width: 550px;
	margin: 0 auto;
	font-family: FuturaMedium, sans-serif;
}

.generated-name {
	height: 110px;
	text-transform: uppercase;
	line-height: 1.25;
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
  font-family: FuturaBold, sans-serif;
}

.generate {
	display: block;
	margin: 25px auto 0;
	text-transform: uppercase;
	padding: 20px;
	border-radius: 5px;
	outline: none;
	border-style: none;
	max-width: 250px;
	width: 100%;
	font-family: FuturaBold, sans-serif;
}
